# Production / Deployment URL
NEXT_PUBLIC_SITE_URL=https://blog.flinkeo.online

# Giscus Comments System (GitHub Discussions)
NEXT_PUBLIC_GISCUS_REPO=abushaidislam/syed-tech-blog
NEXT_PUBLIC_GISCUS_REPO_ID=R_kgDOUip-3Q
NEXT_PUBLIC_GISCUS_CATEGORY=General
NEXT_PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOUip-3c4DGP4M
NEXT_PUBLIC_GISCUS_THEME=https://blog.flinkeo.online/styles/giscus.css

# Translate article using Gemini API bangla / english
GEMINI_API_KEY=your-gemini-api-key
